[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whdtscraper = "*"
termcolor = "*"
python-dateutil = "*"
pymongo = "*"
joblib = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
lint = "pylint wikiusers"
cawiki = "bash -c 'python -m wikiusers 2>&1 | tee ./logs/cawiki_`date --iso-8601=ns`.log'"
